<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myth.shishi"
    android:versionCode="5"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <!-- 往SDCard的创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name="com.myth.shishi.MyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity android:name="com.myth.shishi.activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AuthorListActivity" />
        <activity android:name=".activity.AuthorPageActivity" >
        </activity>
        <activity android:name=".activity.PoetryActivity" />
        <activity android:name=".activity.ShareActivity" />
        <activity android:name=".activity.EditActivity" />
        <activity android:name=".activity.YunSearchActivity" />
        <activity android:name=".activity.AuthorSearchActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.ShareEditActivity" />
        <activity android:name=".activity.WebviewActivity" />
        <activity android:name=".activity.DuiShiActivity" />
        <activity android:name=".activity.PoetrySearchActivity" />
        <activity android:name=".activity.FormerListActivity" />
        <activity android:name=".activity.FormerActivity" />
        <activity android:name=".activity.SignActivity" />
        <activity
            android:name="com.wandoujia.ads.sdk.activities.AppDetailActivity"
            android:theme="@style/Activity" />
        <activity
            android:name="com.wandoujia.ads.sdk.activities.AppWallActivity"
            android:theme="@style/Activity" />
        <activity
            android:name="com.wandoujia.ads.sdk.activities.InterstitialActivity"
            android:theme="@style/InterstitialActivity" />

        <service
            android:name="com.wandoujia.ads.sdk.download.AppDownloadService"
            android:process=":app_download" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5555c74ae0f55aed7d002c36" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="mi" />
    </application>

</manifest>